@model IEnumerable<Learn_ASP.NET.Models.Favorite>

@{
    ViewBag.Title = "Index";
}

<h1 class="view-header">Tyler By The Numbers</h1>

<div class="container d-flex flex-row flex-wrap justify-content-center">
    @foreach (var item in Model)
    {
        <div class="card shadow">
            <img class="card-img-top" src="../@Html.DisplayFor(i => item.Source)" alt="Card image cap">
            <div class="card-body text-center">
                <h2 class="card-title text-secondary text-uppercase">
                    @Html.DisplayFor(i => item.Name)
                </h2>
                <span class="card-percent">@Html.DisplayFor(i => item.Percent)%</span>
                <p class="card-text text-secondary">
                    @Html.DisplayFor(i => item.Description)
                </p>
            </div>
        </div>
    }
</div>



