<div class="jumbotron shadow">
    <h1 class="display-4">Hello, BizStream!</h1>
    <p class="lead">
        This is a simple site I created to begin learning ASP.NET and Razor Views,
        but at the same time you can learn a little bit more about me. Follow the links
        to learn about some of my favorite things!
    </p>
</div>
