<div class="jumbotron shadow">
    <h1 class="display-4">Hello, BizStream!</h1>
    <p class="lead">
        This is a simple site I created to begin learning ASP.NET and Razor Views,
        but at the same time you can learn a little bit more about me. Follow the links
        to get to know me!
    </p>
    <hr class="my-4">
    <p class="jumbotron-p">First thing to know about me, I LOVE</p>
    <i class="fas fa-coffee"></i>
</div>
