body{
    width: 100vw;
    height: 100vh;
    background-image: url("simple-coffee-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    justify-content: space-between;
}

.navbar-nav{
    flex-direction: row;
}

.nav-link {
    margin-right: 1rem;
}

.jumbotron {
    margin-top: 10%;
    background-color: #e9ecefc7;
    /*width: 80%;
    margin-left: 10%;*/r
}

.jumbotron-p{
    display: inline-block;
}

.fa-coffee {
    color: #343a40;
}

.view-header {
    text-align: center;
    margin-top: 65px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.875rem;
    font-weight: 900;
    color: #5b5d5f;
    text-transform: uppercase;
}

.table{
    background-color: #00000012;
}

.cards-container{
    display: grid;
    width: 70%;
    margin-left: 15%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    justify-items: center;
}

.card-img-top{
    height: 250px;
    padding: 25px;
}

.card{
    margin-bottom: 50px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 900;
}

.card-percent {
    color: #0087aa;
    font-size: 3.125rem;
    font-weight: 900;
    line-height: 40px
}

.card-text {
    margin-top: 10px;
}

.input-group{
    margin-top: 20px;
}
.form-control {
    background-color: #ffffffeb;
}

.total {
    background-color: #17a2b8e0;
}




