body{
    background-image: url("simple-coffee-image.jpg");
    background-size: cover;
}

.navbar{
    justify-content: flex-start;
}

.navbar-nav{
    flex-direction: row;
}

.nav-link {
    margin-right: 1rem;
}

.jumbotron {
    margin-top: 10%;
    background-color: #e9ecef8c;
    width: 80%;
    margin-left: 10%;
}

.view-header{
    text-align: center;
    margin-top: 65px;
    margin-bottom: 25px;
}

.table {
    background-color: #00000012;
}
